.u-section-1 .u-sheet-1 {
  min-height: 912px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  width: 689px;
  margin: 74px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 900px;
  margin: 47px auto 60px;
}

.u-section-1 .u-accordion-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  animation-timing-function: ease;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0;
}

.u-section-1 .u-accordion-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  animation-timing-function: ease;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-gallery-1 {
  height: 271px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-accordion-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-4 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-5 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-5 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-6 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-6 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-6 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-7 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-7 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-7 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 29px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: 0;
}

.u-section-1 .u-accordion-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-8 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-8 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-8 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-9 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-9 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-9 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-9 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-link-10 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-10 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-10 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-item-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-11 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-11 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-11 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-12 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-accordion-link-12 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-12 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-12 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-13 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 0.875rem;
}

.u-section-1 .u-accordion-item-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-accordion-link-13 {
  background-image: none;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 14px 25px;
}

.u-section-1 .u-icon-13 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-1 .u-accordion-pane-13 {
  min-height: 128px;
  background-image: linear-gradient(to right, #351254, #292d33);
  height: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px 30px 50px;
}

.u-section-1 .u-text-14 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 479px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-gallery-1 {
    height: 850px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-gallery-1 {
    height: 670px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-gallery-1 {
    height: 412px;
  }
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}